n8n_workflows/error_handling_template.json
{
    "name": "Error Handling Template",
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://api.example.com/data",
                "options": {}
            },
            "name": "HTTP Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                460,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{$node[\"HTTP Request\"].error}}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Check Error",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "amount": 5,
                "unit": "minutes"
            },
            "name": "Wait (Retry)",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                900,
                200
            ]
        },
        {
            "parameters": {
                "toEmail": "admin@example.com",
                "subject": "Workflow Failed",
                "text": "The workflow failed after retries."
            },
            "name": "Send Email Alert",
            "type": "n8n-nodes-base.email",
            "typeVersion": 1,
            "position": [
                900,
                400
            ]
        }
    ],
    "connections": {
        "Start": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Check Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Error": {
            "main": [
                [
                    {
                        "node": "Wait (Retry)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Email Alert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait (Retry)": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}